---
import Layout from '../layouts/Layout.astro';
---

<Layout title="新パスワード設定 | SBTフリーランス">
  <div class="reset-container">
    <div class="reset-card">
      <h1>新パスワードの設定</h1>
      <p>新しいパスワードを8文字以上で入力してください。</p>
      
      <form action="/api/password-update.php" method="POST">
        <input type="hidden" name="v" id="hidden-v" />
        <input type="hidden" name="t" id="hidden-t" />
        
        <div class="form-group">
          <label>新しいパスワード</label>
          <input type="password" name="password" minlength="8" required />
        </div>
        <button type="submit" class="btn-submit">パスワードを更新する</button>
      </form>
    </div>
  </div>
</Layout>

<script>
  const params = new URLSearchParams(window.location.search);
  document.getElementById('hidden-v').value = params.get('v');
  document.getElementById('hidden-t').value = params.get('t');
</script>