---
import Layout from '../layouts/Layout.astro';
---
<Layout title="送信完了 | SBTフリーランス">
  <div class="reset-container">
    <div class="reset-card">
      <h1>メールを送信しました</h1>
      <p>入力されたメールアドレス宛に、再設定用のリンクをお送りしました。ご確認ください。</p>
      <a href="/" class="back-link">トップ画面へ戻る</a>
    </div>
  </div>
</Layout>